.nav-container {
	/*background-image: linear-gradient(0deg, hsl(0, 0%, 15%), hsl(0, 0%, 10%) 50%, hsl(0, 0%, 15%) 90%);*/
	background-color: hsl(0, 0%, 15%);
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	top: 50px;
	height: 32px;
	padding: 0 !important;

	border-bottom: 2px solid hsl(25, 100%, 60%);
}

.nav {
	position: absolute;
	/*top: 50px;*/
	display: flex;
	flex-direction: column;
	/*background-image: linear-gradient(0deg, hsl(0, 0%, 15%), hsl(0, 0%, 10%) 50%, hsl(0, 0%, 15%) 90%);*/
	background-color: hsl(0, 0%, 15%);
}

/*.nav:first-letter {
	color: white;
}*/

.nav:before {
	content: 'Meny';
	font-family: impact;
	font-size: 30px;
	letter-spacing: 3px;
	height: 30px;
	line-height: 30px;
	width: 22px;
	/*color: hsl(0, 0%, 15%);*/
	color: white;
	padding: 1px;
	margin-left: 10px;
	text-align: center;
	overflow: hidden;
	/*cursor: pointer;*/
}


.nav:hover:before {
	overflow: visible;
}

.nav:hover .nav-item {
	display: block;
}

.nav-item {
	margin: 20px 0px;
	display: none;
}

.nav-dropdown {
	display: none;
}

.nav-mobile-item:hover .nav-dropdown {
	display: block !important;
}

.nav-mobile-item:hover ~ .nav-item {
	display: none !important;
}

.nav-mobile-item:hover span {
	display: none !important;
}

.menu-lenke {
	display: block;
	padding: 0 10px;
	cursor: pointer;

	text-decoration: none;
	font-family: trebuchet ms;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: hsl(0, 50%, 99%);
}

.menu-lenke-parent:after {
	content: ' \25bc';
	font-size: 14px;
	color: hsl(0, 0%, 70%);
}

.menu-dropdown-lenke {
	display: block !important;
	font-size: 12px;
	margin-left: 5px;
	font-weight: normal;
	margin-bottom: 3px;
}

.nav-dropdown .nav-item:first-child {
	margin-top: 40px;	
}


.nav-dropdown .nav-item:last-child {
	margin-bottom: 10px;
}

.content {
	margin-top: 50px;
}
