
/* TOP STUFF */
.emtop {
	background-color: hsl(0, 0%, 15%);
	display: flex;
	justify-content: space-between;
	align-content: center;

	margin: 0 -8px;
	height: 32px;
	position: absolute;
	width: 100%;
}

.topstuff-container {
	/*display: inline;*/
	/*float: right;*/
	padding-right: 10px;
	/*color: white;*/
	order: 2;
}

.topstuff-container div {
	/*display: inline;*/
}

.emtheme-logo-mobile {
	/*padding-right: 20px;*/
}
.emtheme-logo-mobile li {
	list-style: none;
	padding: 0;
	margin: 0;
}

.emtheme-logo-mobile img {
	padding: 0;
	margin: 0;
	/*display: none !important;*/
	/*height: 30px !important;*/
	/*transform: scale(0.2);*/
}

/* NAVIGATIONAL MENU */
.nav-container {
	background-color: hsl(0, 0%, 15%);
	display: inline;
	/*float: left;*/
	/*position: absolute;*/
	/*width: 100%;*/
	/*left: 0;*/
	/*right: 0;*/
	/*top: 50px;*/
	/*height: 20px;*/
	padding: 0 !important;

	/*border-bottom: 2px solid hsl(25, 100%, 60%);*/
}

.nav {
	/*position: absolute;*/
	display: flex;
	flex-direction: column;
	background-color: hsl(0, 0%, 15%);
}

.nav:before {
	content: 'Meny';
	font-family: impact;
	font-size: 30px;
	letter-spacing: 3px;
	height: 30px;
	line-height: 30px;
	width: 22px;
	color: white;
	padding: 1px;
	margin-left: 10px;
	text-align: center;
	overflow: hidden;
}


.nav:hover:before {
	overflow: visible;
}

.nav:hover .nav-item {
	display: block;
}

.nav-item {
	margin: 20px 0px;
	display: none;
}

.nav-dropdown {
	display: none;
}

.nav-mobile-item:hover .nav-dropdown {
	display: block !important;
}

.nav-mobile-item:hover ~ .nav-item {
	display: none !important;
}

.nav-mobile-item:hover span {
	display: none !important;
}

.menu-lenke {
	display: block;
	padding: 0 10px;
	cursor: pointer;

	text-decoration: none;
	font-family: trebuchet ms;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: hsl(0, 50%, 99%);
}

.menu-lenke-parent:after {
	content: ' \25bc';
	font-size: 14px;
	color: hsl(0, 0%, 70%);
}

.menu-dropdown-lenke {
	display: block !important;
	font-size: 12px;
	margin-left: 5px;
	font-weight: normal;
	margin-bottom: 3px;
}

.nav-dropdown .nav-item:first-child {
	margin-top: 40px;	
}


.nav-dropdown .nav-item:last-child {
	margin-bottom: 10px;
}

.content {
	margin-top: 50px;
}


.em-inner-footer {
	color: white;
	background-color: hsl(0, 0%, 5%);
	display: flex;
	flex-wrap: wrap;
	font-size: 0.8em;
	font-family: arial;
}

.em-inner-footer li {
	list-style: none;
}

.em-footer-ul {
	padding: 0;
}

.em-footer-post {
	display: inline;
	padding-right: 5px;
}

.em-socialmedia-container:before {
	content: 'Sosiale medier';
}
.em-socialmedia-container {
	flex-basis: 40%;
}

.em-contact-container:before {
	content: 'Kontakt';
}
.em-contact-container {
	flex-basis: 40%;
}

.em-aboutus-container:before {
	content: 'Om Oss';
	display: block;
}

.em-socialmedia-container,
.em-contact-container,
.em-aboutus-container {
	padding: 15px;
}
