@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');

/*
	1.0 ADMIN MENU
	2.0 EM DOCUMENTATION
	3.0 CUSTOMIZER
*/



/* 1.0 ADMIN MENU */
a.menu-icon-nyheter > div.wp-menu-image:before,
a.toplevel_page_em-options-page > div.wp-menu-image:before,
a.toplevel_page_em-documentation-page > div.wp-menu-image:before {
	content: 'EM';
	position: relative;
	top: 4px;
	font-family: 'Black Han Sans', sans-serif;
	font-size: 14px;
}

a.menu-icon-nyheter > div.wp-menu-image:before {
	color: #faa !important;
}

a.menu-icon-emkort > div.wp-menu-image:before {
	color: #55f !important;
}
a.menu-icon-emcasino > div.wp-menu-image:before {
	color: #f55 !important;
}

a.toplevel_page_em-options-page > div.wp-menu-image:before {
	color: #ffa !important;
}

a.toplevel_page_em-documentation-page > div.wp-menu-image:before {
	color: #afa !important;
}


/* 2.0 EM Documentation Page */
.emtheme-doc-container {
	margin: 30px;
	margin-bottom: 500px;
	max-width: 900px;
}

.emtheme-doc-container > h1 {
	margin-top: 150px;
}

.emtheme-doc-container > h3 {
	padding: 0;
	margin: 0;
	margin-top: 20px;
}

.emtheme-doc-container ul {
	margin-left: 30px;
}

.emtheme-doc-container > ul {
	margin: 0;
	margin-bottom: 100px;
}

.emtheme-doc-container li {
	list-style: disc;
	font-size: 16px;
	font-weight: normal;
	margin-top: 10px;
}

.emtheme-doc-container > ul > li > ul {
	margin-bottom: 50px;
}

.emtheme-doc-container > ul > li > ul > li > ul {
	margin-bottom: 30px !important;
}

.emtheme-doc-container > ul > li > ul > li {
	list-style-type: lower-alpha;
}

.emtheme-doc-container > ul > li > ul > li > ul > li {
	list-style-type: lower-roman;
}

.emtheme-doc-container > ul > li {
	list-style: decimal;
	font-size: 20px;
	font-weight: bold;
}


/* 3.0 CUSTOMIZER */
#accordion-section-custom_css,
#accordion-panel-emtheme_footer_panel {
	margin-bottom: 1rem !important;
}

.customize-control {
	box-sizing: border-box;
	padding: 1rem;
	margin: 0;
	/*background-color: red;*/
}


#customize-control-emtheme_color-main_shadow_c {
	margin-bottom: 2rem;
}

#customize-control-emtheme_color-background_c,
#customize-control-emtheme_color-main_background_c,
#customize-control-emtheme_color-main_shadow_c {
	background-color: hsl(0, 50%, 95%);
}


		
#customize-control-emtheme_color-emtop_font_c,
#customize-control-emtheme_color-emtop_bg_c,
#customize-control-emtheme_color-search_c,
#customize-control-emtheme_bg_image_c,
#customize-control-emtheme_color-emtop_bg_image_opacity_c {
	background-color: hsl(30, 50%, 95%);
}
		