/*@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700|Roboto:400,500,700');*/

/*
	INDEX
	#####
	- default settings
	- wordpress fixes

	1.0 HEADER
		1.1 SITE IDENTITY
		1.2 NAVBAR
	2.0 CONTENT
		2.1 PAGE CONTENT
		2.2 FLEXBOX SHORTCODE
		2.3 WORDPRESS IMAGE SHORTCODE
	3.0 FOOTER 
		3.1 soc.media/contact/about us
	4.0 SEARCH
*/

/* default settings */
html {
	background-color: hsl(10, 10%, 96%);
	/*background-color: hsl(10, 10%, 90%);*/
	font-size: 62.5%;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	box-sizing: border-box;
}

/* wordpress fixes */
body {
	margin: 0 !important;
	opacity: 1 !important;
}
p:empty {
	display: none;
}
.widget {
	list-style: none;
}


/* 
	1.0 SECTION
	HEADER 
	Site logo, title and tagline
*/
	
/*
	1.1 SECTION
	SITE IDENTITY
*/

/* flexbox for logo, title, tagline */
.emtheme-site-identity {
	display: flex;

	width: 112rem;
	margin: auto;
	padding: 1.5rem 0;

	align-items: center;
}

/* hiding mobile only */
.emtheme-mobile-icon {
	display: none !important;
}
.emtheme-logo-mobile-container {
	display: none;
}
.emtheme-mobile-title {
	display: none;
}

/* div for site logo */
.emtheme-logo {
	margin-right: 4rem;
}

/* home anchor surrounding logo and title/tagline */
.emtheme-top-link {
	/*color: #000000;*/
	text-decoration: none;
}
.emtheme-top-link:visited {
	/*color: black;*/
}

.emtheme-toptext-container {
	margin-right: auto;
}

/* div for site title */
.emtheme-title {
	/*font-size: 4.6rem;*/
	/*font-weight: 700;*/
	/*font-family: "Open Sans Condensed", sans-serif;*/
}

/* div for site tagline */
.emtheme-tagline {
	margin-left: 4rem;

	/*font-size: 1.6rem;*/
}

.emtheme-search-box {
	align-self: flex-start;
}

.emtheme-search-input {
	font-size: 2.2rem;
	width: 20rem;
	border: none;
	border-bottom: solid 2px hsla(0, 0%, 50%, .7);
	opacity: 0;
	cursor: default;
	background-color: inherit;
	/*height: 2.4rem;*/
}
.emtheme-search-input-active {
	opacity: 1;
	cursor: text;
}

.emtheme-search-input:focus {
	outline: none;
}

.emtheme-search-button {
	position: relative;
	top: 0.3rem;
	background: inherit;
	border: none;
	cursor: pointer;
}
.emtheme-search-button:hover {
	background-color: rgba(0, 0, 0, .1);
}

.emtheme-search-button:focus {
	outline: none;
}

.emtheme-search-icon {
	position: relative;
	top: 0.2rem;
	/*height: 100px !important;*/
	color: hsla(0, 0%, 50%, .7) !important;
	font-size: 2.3rem !important;

}


/* 
	1.2 SECTION
	NAVIGATION 
	NAVBAR
*/

/* container for top menu */
/*.nav-container {
	margin-bottom: 1rem;
	background-color: #000000;*/
	/*border-bottom: 2px solid hsl(25, 100%, 60%);*/

	/*background-image: linear-gradient(
			0deg, 
			hsl(240, 100%, 30%), 
			hsl(240, 100%, 20%) 10%, 
			hsl(240, 100%, 30%) 80%
			);*/
	/*background-image: linear-gradient(
			0deg, 
			hsl(0, 0%, 15%), 
			hsl(0, 0%, 10%) 50%, 
			hsl(0, 0%, 15%) 90%
			);*/
/*}*/

/* flexbox for navbar */
/*.nav {
	display: flex;
	width: 112rem;
	margin: auto;

	font-family: 'Roboto', sans-serif;
	font-size: 2rem;
	font-weight: 500;
	text-transform: capitalize;
	text-align: center;
	white-space: nowrap;
}*/

/* div for nav part */
/*.em-nav-item {
	border-right: solid 1px hsl(0, 0%, 40%);
	display: block;
	min-width: 13rem;
	white-space: nowrap;
	overflow: hidden;
}
.em-nav-item:last-child {
	border-right: none;
}*/

/* adding down arrow to menu parents */
/*.em-nav-item-parent:after {
	content: ' \25bc';
	font-size: 1.4rem;
}*/

/* hover effect on nav items */
/*.em-nav-item:hover {
	background-color: #444444;
}*/

/* anchor element in nav items */
/*.em-nav-lenke {
	display: block;
	
	padding: 0.5rem 1rem;
	line-height: calc(1rem + 1);

	text-decoration: none;
	color: #ffffff;
}*/

/* show sub-menus on hover */
/*.em-nav-parent-container:hover .em-nav-sub-container {
	display: block;
}*/

/* submenu default css */ 
/*.em-nav-sub-container {
	display: none;
	position: absolute;
	background-color: #e8e8e8;
	z-index: 9999; 
}*/

/* container for anchor element in submenus */
/*.em-nav-subitem {
	text-align: left;
	margin-bottom: 1rem;
	border-right: none; 
	
	background-image: none; 
}*/

/* container for anchor element in submenus */
/*.em-nav-subitem:hover {
	background-image: none; 
	background-color: #bfbfbf;
}*/

/* adds border-bottom equal to of .nav */
/*.em-nav-subitem:last-child {
	border-bottom: 2px solid hsl(25, 100%, 60%);
	margin-bottom: 0;
}*/

/* menu anchor font color */
/*.em-nav-sublenke {
	color: #000000;
}*/

/* visual marker for current page */
/*.em-nav-current {
	background-color: #222222;*/
		/*background-image: linear-gradient(0deg, 
		hsl(22, 90%, 35%), 
		hsl(22, 90%, 30%) 50%, 
		hsl(22, 90%, 35%) 90%
		);*/
/*}*/
/*.em-nav-current:hover {
	background-color: #555555;*/

		/*background-image: linear-gradient(0deg, 
		hsl(22, 70%, 35%), 
		hsl(22, 70%, 30%) 50%, 
		hsl(22, 70%, 35%) 90%
		);*/
/*}*/


/*
	2.0 SECTION
	CONTENT
*/

/*
	2.1 SECTION
	PAGE CONTENT
*/

/* element of which is centered, has width and background-color of white */
.main {
	margin: 2rem auto;
	width: 112rem;
	max-width: 100%;
	min-height: 100vh;
	background-color: hsl(0, 0%, 100%);
	box-shadow: 0 0 5px black;
}

/* custom css for wordpress template: altfrontpage */
.main-alt {
	max-width: 90vw;
}

/* the <h1> inside above element */
.content-title-text {
	margin: 0 2rem; /* removes default h1 styling */
	
	padding: 2rem 0rem 1rem 0rem;
	border-bottom: dashed 1px #bbb;

	font-weight: 700;
	font-size: 3.2rem;
	text-transform: capitalize;
}

/* custom css for wordpress template: altfrontpage */
.content-title-alt {
	text-align: center;
	border: none;
}

/* container element for wordpress content for page */
.content {
	display: inline-block;
	padding: 0 2rem;
	padding-bottom: 10vh;
}

/* flexbox for page content */
.content-3 {
	display: inline-flex; 
	padding: 2rem;
}

/* 
	2.2 SECTION
	SHORTCODE FLEXBOX SECTION
	flexbox shortcode from wordpress content 
*/

/* left and right elements */
.em-left,
.em-right {
	margin: 0 2rem;
	position: sticky;
	top: 8rem; /* position of where element gets stuck to */
	align-self: flex-start; /* for sticky to work in flexbox */
}

.em-left ul,
.em-right ul {
	padding: 20px;
}

.em-left > ul > li,
.em-right > ul > li {
	margin-bottom: 1rem;
}

/* limits width of left/right column images */
.em-right img,
.em-left img {
	width: 100%;
}

/* flexbox rules */
.em-left {
	margin-right: 2rem;
	order: 1;
}
.em-center {
	/*margin-right: 2rem;*/
 	order: 2;
 	flex: 1;
}
.em-right {
	order: 3;
	margin-left: 2rem;
	flex-basis: 30rem;
}

/* 
	2.3 SECTION
	IMAGE SHORTCODE FOR WORDPRESS
*/

/* Floats image right */
.alignright {
	float: right;
	padding-left: 1.5rem;
}

/* Floats image left */
.alignleft {
	float: left;
	padding-right: 1.5rem;
}

/* centers image */
.aligncenter {
	margin: auto;
}

/* removes margin from image caption in <p> */
.wp-caption-text {
	margin: 0;
}


/*
	3.0 SECTION
	FOOTER
*/

/*
	3.1 SECTION
	Social media/Contact/about us information
*/

/* container element for footer */
.em-footer {
	display: flex;
	
	min-height: 15rem;
	margin-top: 5rem;
	padding-bottom: 5rem;
	justify-content: center;
	
	background-color: hsl(0, 0%, 0%);
	box-shadow: 0 0 2px black;

	color: hsl(0, 0%, 80%);
	font-size: 1.4rem;
}

/* inner container with width and centering */
.em-inner-footer {
	display: flex;
	width: 112rem;
	margin: 2rem 0;
	justify-content: space-evenly;
}

/* fix for list elements */
.em-footer-ul {
	padding: 0;
	margin: 0;
}

/* fix for list elements */
.em-footer-listitem {
	list-style: none;
	margin-bottom: 0.5rem;
}

/* special rule for email info */
.em-footer-epost {
	text-transform: lowercase;
	margin-bottom: 1rem;
}

/* footer section titles */
.em-socialmedia-container:before,
.em-aboutus-container:before,
.em-contact-container:before {
	display: block;
	font-size: 2.5rem;
	font-weight: 600;
}

/* footer section title for contact */
.em-contact-container:before {
	content: 'Kontakt';
}

/* footer section title for about us */
.em-aboutus-container:before {
	content: 'Om Oss';
}

/* footer section title for social media */
.em-socialmedia-container:before {
	content: 'Sosiale Medier';
}

/* flexbox settings */
.em-socialmedia-container,
.em-contact-container,
.em-aboutus-container {
	flex-basis: 33%;
	/*border: yellow solid 1px;*/
}

/* anchor element */
.em-footer-link {
	color: hsl(0, 0%, 80%);
	text-decoration: none;
}

.em-footer-link:hover {
	color: hsl(22, 50%, 50%);
}

/* special rule for postal format */
.em-footer-post {
	display: inline;
	padding-right: 0.5rem;
}


/*
	4.0 SECTION
	SEARCH
*/

.emtheme-search-ul {
	padding: 3rem 0;
	margin: 0 auto;
	width: 100%;

	font-family: arial;
}

.emtheme-search-li {
	margin: 3rem 0;
	list-style: none;
	/*background-color: #f2e6ff;*/
	padding: 1rem;
	/*font-size: 2.6rem;*/

	line-height: 1;
}

.emtheme-search-li:nth-child(odd) {
	/*background-color: #e6eeff;*/
}

.emtheme-search-link {
	color: black;
	text-decoration: none;
	display: block;
	text-transform: capitalize;
}

.emtheme-search-title {
	margin: 0;
	font-size: 1.8rem;
	color: #1a0dab;
}

.emtheme-search-link:hover {
	text-decoration: underline;
}

.emtheme-search-url {
	display: block;
	font-size: 1.3rem;
	text-transform: lowercase;
	margin: 0.3rem 0;
	color: #00aa00;
}

.emtheme-search-description {
	margin: 0;
	font-size: 1.3rem;
}