@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');

.em-m-popup-container {
	position: fixed;
	left: 0.8rem;
	right: 0.8rem;
	bottom: 0;

	max-height: 4rem;

	background-color: hsl(22, 90%, 60%);

	text-align: center;

	line-height: 1.2;

	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;

	border-top-left-radius: 15px;
	border-top-right-radius: 15px;

	box-shadow: 0 0 5px black;
	overflow: hidden;
	color: white;
	text-shadow: 0 0 1px black;
}

.em-m-popup-title {
	font-size: 3.2rem;
	border-bottom: solid 2px hsla(0, 0%, 0%, 0.1);
	background-image: url('../image/60-lines.png'); /* transparent background in image */

}

.em-m-popup-input-container {
	/*height: 300px;*/
	width: 100%;
	background-color: hsl(26, 90%, 60%);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.em-m-popup-info {
	font-size: 1.6rem;
	/*line-height: 20px;*/
	margin: 2rem 0;
}

.em-m-popup-input-name,
.em-m-popup-input-email {
	width: 30%;
	font-size: 2rem;
	margin-bottom: 1rem;
}

.em-m-popup-input {
	width: 20rem;
	max-width: 60%;
	font-size: 2rem;
	border: solid 0 red;
}

.em-m-popup-button {
	margin: 2rem 0;
	padding: 1.5rem;

	border-radius: 5px;
	border: solid 1px hsl(122, 50%, 30%);
	background-color: hsl(122, 50%, 40%);
	outline: none;
	
	font-size: 2rem;
	color: white;
	text-shadow: 0px 0px 1px black;
	white-space: nowrap;
	cursor: pointer;
}