@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Roboto');


/*
	INDEX
	#####
	-default settings
	-wordpress fixes

	1.0 HEADER
		1.1 SITE IDENTITY
		1.2 MOBILE NAVBAR
	2.0 CONTENT
		2.1 PAGE CONTENT
		2.2 RULES FOR WORDPRESS EMBEDDED IMAGES
	3.0 FOOTER
		3.1 CONTACT/ABOUT INFORMATIOn
*/



/* default settings */
html {
	font-size: 62.5%;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

/* wordpress fixes */
body {
	margin: 0 !important;
	opacity: 1 !important;
}
p:empty {
	display: none;
}
.widget {
	list-style: none;
}


/*
	1.0 SECTION
	HEADER
*/
.emtop {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
	height: 4.6rem;
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: 700;
	line-height: 1.6;
}

/* 
	1.1 SECTION
	SITE IDENTITY - logo, title, tagline
*/

/* flexbox for site title and logo */
.emtheme-site-identity {
	display: flex;
	max-width: 70%;
}

/*  div for logo image for desktop 
	HIDDEN ON MOBILE */
.emtheme-logo-container {
	display: none;
}

.emtheme-top-link {
	display: none;
}

/* 	site title and tagline for desktop
	HIDDEN ON MOBILE */
.emtheme-toptext-container {
	display: none;
}

/* div for logo */
.emtheme-logo-mobile {
	height: 4.6rem;
}

/* div for site title */
.emtheme-mobile-title {
	padding-left: 1rem;

	font-size: 3rem;
	color: hsl(0, 0%, 90%);
	white-space: nowrap;
	overflow: hidden;
}
.emtheme-top-link-mobile {
	color: white;
	text-decoration: none !important;
}
.emtheme-top-link-mobile:visited {
	color: white;
}

/*
	1.2 SECTION
	MOBILE NAVBAR
*/

/* container for nav bar - only activation icon visible */
.nav-container {
	position: relative; /* for aboslute positioned children */
	background-color: inherit;
	font-size: 2rem;
	z-index: 900;
}

/*	google material icon 
	navbar activation icon */
.material-icons {
	font-size: 4.6rem !important;
	color: hsl(0, 0%, 90%) !important;
	padding-right: 1rem;
}

/* effect for activated activation icon */
.nav-active {
	text-shadow: 0 0 10px white;
}

/* mobile top level dropdown */
.nav {
	display: none;
	position: absolute;
	top: 4rem;
	right: 0;
	background-color: inherit;
	z-index: 999;
}

/*.nav-mobile-top {*/
	/*height: 32px;*/
/*}*/

/* element containing nav item */
.em-nav-item {
	background-color: inherit;
	white-space: nowrap;
	border-bottom: solid 1px hsl(0, 0%, 20%);
	padding: 1.5rem 1rem;
}
.em-nav-item:last-child {
	border-bottom: none;
}

/* anchor element of nav item*/
.em-nav-lenke {
	display: block;
	text-decoration: none;
	text-transform: capitalize;
	color: hsl(0, 50%, 99%);
}

/* special rule for nav items (<a>) in submenus */
.em-nav-sublenke {
	font-size: 1.6rem;
	color: hsl(0, 0%, 69%);
}

/* nav item with submenu icon */
.em-nav-item-parent:after {
	content: ' \25bc';
}

/* start value for submenus */
.em-nav-sub-container {
	display: none;
}

/* special rule for nav items in submenus*/
.em-nav-subitem {
	border: none;
	background-color: #e8e8e8;
	/*background-color: hsl(0, 0%, 20%);*/
}

/* showing hidden submenu*/
.nav-show {
	display: block;
}

/* visual marker for current page */
.em-nav-current {
	background-color: hsl(22, 40%, 20%);
}


/*
	2.0 SECTION
	CONTENT
*/

/* 
	2.1 SECTION
	PAGE CONTENT
*/

/* container for page content */
.main {
	padding: 0.5rem;
	font-size: 1.6rem;
	min-height: 70vh;
}

/*
	2.2 SECTION
	RULES FOR WORDPRESS EMBEDDED IMAGES
*/

/* class of <p> of caption text to image */
.wp-caption-text {
	padding: 0;
	margin: 0;
}

/* different floats */
.aligncenter {
	text-align: center;
	margin: auto;
}
.alignleft {
	text-align: center;
	float: left;
}
.alignright {
	text-align: center;
	float: right;
}

/* forcing images to be 100% of width */
.alignnone img,
.aligncenter img,
.alignright img,
.alignleft img {
	max-width: 100%;
}

/*
	3.0 SECTION
	FOOTER
*/

/*
	3.1 SECTION
	CONTACT/ABOUT INFORMATIOn
*/

/* flexbox for footer */
.em-inner-footer {
	color: white;
	background-color: hsl(0, 0%, 5%);
	display: flex;
	flex-wrap: wrap;

	font-size: 1.6rem;
}

/* changing default list css */
.em-footer-ul {
	padding: 0;
}
.em-footer-listitem {
	list-style: none;
}

/* special rule for postal info */
.em-footer-post {
	display: inline;
	padding-right: 0.5rem;
}

/* flex rules */
.em-contact-container,
.em-socialmedia-container {
	flex-basis: 40%;
}

/* css content */
.em-socialmedia-container:before {
	content: 'Sosiale medier';
}
.em-contact-container:before {
	content: 'Kontakt';
}
.em-aboutus-container:before {
	content: 'Om Oss';
	display: block;
}

.em-socialmedia-container,
.em-contact-container,
.em-aboutus-container {
	padding: 1.5rem;
}

