/*
	INDEX
	#####
	-default settings
	-wordpress fixes

	1.0 HEADER (moved to inline css from inc/emt-style.php)
		1.1 SITE IDENTITY
	2.0 CONTENT
		2.1 PAGE CONTENT
		2.2 RULES FOR WORDPRESS EMBEDDED IMAGES
	3.0 FOOTER
		3.1 CONTACT/ABOUT INFORMATION
	4.0 SEARCH 
		4.1 RESULTS
	5.0 BOX SHORTCODE
*/



/* default settings */
html {
	font-size: 62.5%;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

/* wordpress fixes */
body {
	margin: 0 !important;
	opacity: 1 !important;
}
p:empty {
	display: none;
}
.widget {
	list-style: none;
}

img {
	width: auto;
	max-width: 100%;
	height: auto;
}

/* hiding search from mobile */
.emtheme-search-box {
	display: none;
}

/*
	2.0 SECTION
	CONTENT
*/

/* 
	2.1 SECTION
	PAGE CONTENT
*/

/* container for page content */
.main {
	padding: 1rem;
	font-size: 1.6rem;
	min-height: 70vh;
}

.content-title-text {
	margin: 2rem;
	font-size: 3rem;
	text-transform: uppercase;
	border-bottom: dashed 1px hsl(0, 0%, 50%);
}

/*
	2.2 SECTION
	RULES FOR WORDPRESS EMBEDDED IMAGES
*/

/* class of <p> of caption text to image */
.wp-caption-text {
	padding: 0;
	margin: 0;
}

/* different floats */
.aligncenter {
	text-align: center;
	margin: auto;
}
.alignleft {
	text-align: center;
	float: left;
}
.alignright {
	text-align: center;
	float: right;
}

/* setting max width of inserted images */
.alignnone img,
.aligncenter img,
.alignright img,
.alignleft img {
	max-width: 100%;
}

/*
	3.0 SECTION
	FOOTER
*/

/*
	3.1 SECTION
	CONTACT/ABOUT INFORMATIOn
*/

/* flexbox for footer */
.em-inner-footer {
	color: white;
	background-color: hsl(0, 0%, 5%);
	display: flex;
	flex-wrap: wrap;

	font-size: 1.6rem;
}

/* changing default list css */
.em-footer-ul {
	padding: 0;
}
.em-footer-listitem {
	list-style: none;
}

/* special rule for postal info */
.em-footer-post {
	display: inline;
	padding-right: 0.5rem;
}

/* flex rules */
.em-contact-container,
.em-socialmedia-container {
	flex-basis: 40%;
}

/* css content */
.em-socialmedia-container:before {
	content: 'Sosiale medier';
}
.em-contact-container:before {
	content: 'Kontakt';
}
.em-aboutus-container:before {
	content: 'Om Oss';
	display: block;
}

.em-socialmedia-container,
.em-contact-container,
.em-aboutus-container {
	padding: 1.5rem;
}

.page-not-found {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-top: 10rem;
	font-size: 2.2rem;
	text-shadow: 0 0 1px #faa;
}

.page-not-found-link {
}

/*
	4.0 SECTION
	SEARCH SERP
*/

/* 4.1 RESULTS */
.emtheme-search-ul {
	padding: 0;
}

.emtheme-search-li {
	margin: 3rem 0;
	line-height: 1;
	list-style: none;
}

.emtheme-search-title {
	margin: 0;
	font-size: 1.8rem;
	color: #1a0dab;
}

.emtheme-search-url {
	word-break: break-all;

	font-size: 1rem;
	color: #00aa00;
}


/*
	5.0 BOX SHORTCODE
*/
.emtheme-boxes {
	display: flex;
	float: none !important;
	flex-wrap: wrap;
	justify-content: space-around;
}

.emtheme-box-inner-mobile {
	width: 45% !important;
}
.emtheme-box-inner {
	margin-bottom: 1.5rem;
	border: solid 1px black;
}

.emtheme-box {
	position: relative;
	display: block;
	width: 100% !important;
	height: auto;

	background-size: cover;
	font-size: 1.6rem !important;
}

.emtheme-box-text,
.emtheme-box-title {
	position: absolute;
	left: 0;
	width: 100%;
	height: 5rem;

	box-sizing: border-box;
}

.emtheme-box-title {
	top: 0;
	padding-left: 1rem;
	/*background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .9) 100%);*/
}

.emtheme-box-text {
	bottom: 0;
	/*background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .9) 100%);*/
}

.emtheme-box-text-bottom {
	position: absolute;
	bottom: 0;
	left: 1rem;
}