.em-popup {
	position: fixed;
	margin: auto;
	width: 800px;
	/*height: 40%;*/
	top: 120px;
	left: 0;
	right: 0;
	z-index: 999;
}

.em-popup-top {
	position: absolute;
	left: -7px;
	right: -7px;
	top: -5px;
	height: 30px;

	z-index: 9999;
	background-color: hsl(220, 20%, 95%);
	border: solid 1px hsl(220, 20%, 85%);
	box-shadow: -1px -1px 7px black;
	display: flex;
	justify-content: flex-end;
	opacity: 0;
}


.em-popup-kryss:before {
	content: 'x';
}
.em-popup-kryss {
	line-height: 18px;
	margin: 0 10px;
	font-size: 20px;
	font-family: arial;
	padding: 0 20px;
	height: 20px;
	border-radius: 3px;
	color: hsl(0, 0%, 50%);
	border: solid 1px hsl(0, 0%, 80%);
	align-self: center;

	cursor: pointer;
	text-shadow: 0px 0px 1px black;
	transition: all 0.4s;
}

.em-popup-kryss:hover {
	background-color: hsl(0, 60%, 82%);
	box-shadow: 0px 0px 1px black;
	text-shadow: 0px 0px 2px black;
}


.em-popup-inner {
	box-shadow: 1px 1px 5px black;
	padding: 0px 20px 20px 20px;
	max-height: 0px;
	background-color: hsl(220, 20%, 90%);
	background-image: url('image/60-lines.png');
	background-repeat: repeat;
	overflow-y: hidden;
	opacity: 0;
}

.em-popup-inputs {
	font-family: arial;
	font-size: 24px;
	line-height: 45px;
	height: 45px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.em-popup-name,
.em-popup-email {
	text-align: center;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	text-shadow: 0px 0px 1px black;
}

.em-popup-input {
	width: 60%;
	margin-left: 20px;
	height: 30px;
	font-size: 24px;
	outline: 1px solid hsl(0, 0%, 50%);
	border: solid 0px hsl(0, 80%, 70%);
	padding-left: 20px;
	text-shadow: 0px 0px 1px black;
}

.em-popup-input:focus {
	outline: 2px solid hsl(22, 50%, 90%);
	/*border: solid 1px hsl(0, 00%, 50%);*/
}

.em-popup-go {
	display: flex;
	justify-content: center;
	align-items: center;
}

.em-popup-gobutton {
	border: none;
	background-color: hsl(22, 95%, 60%);
	color: white;
	height: 34px;
	padding: 0 10px;
	font-size: 24px;
	font-family: arial;
	border: outset 1px hsl(0, 0%, 89%);
	cursor: pointer;
	outline: none;
	transition: background-color 0.4s;
	white-space: nowrap;
	text-shadow: 0px 0px 1px black;
}

.em-popup-gobutton:hover {
	background-color: hsl(22, 95%, 50%);
}

.em-popup-gobutton:active {
	border: inset 1px hsl(0, 0%, 99%);
}


.em-popup-text-container {
	width: 80%;
	margin: auto;
	margin-top: 15px;
	padding: 20px 30px;
	display: flex;
	flex-wrap: wrap;
	font-family: arial;
	background-color: hsl(220, 20%, 95%);
	border: dashed 1px hsl(220, 20%, 90%);
	outline: dashed 1px hsl(220, 20%, 90%);
	justify-content: space-between;
	/*box-shadow: 0px 0px 1px black;*/
}

.em-popup-text-title {
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
	font-size: 30px;
	border-bottom: solid 1px hsl(220, 20%, 92%);
	height: 40px;
	line-height: 20px;

	text-shadow: 0px 0px 1px black;
}

.em-popup-text-logo-container {
	width: 50%;
}

.em-popup-logo-img {
	width: 100%;
}

.em-popup-text-info-container {
	width: 50%;
}

.em-popup-text-info {
	font-size: 16px;
	margin-left: 10%;
	padding-bottom: 20px;
	list-style-type: circle;
	display: list-item;

	/*text-shadow: 0px 0px 1px black;*/
}

.em-popup-text-info:last-child {
	padding-bottom: 0px;
}